<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<false/>
					<key>File References</key>
					<array/>
				</dict>
				<key>Minimum Application Version</key>
				<string>7.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/tdeborge/Software/Git/https-deployment/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-12-18T17:21:03Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Tb0IOlXigOs6
								f82unm2svw==
								</data>
								<key>Size</key>
								<integer>3869</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/tdeborge/Software/Git/https-deployment/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-12-18T17:21:03Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/images/fallback.jpeg</key>
							<dict>
								<key>Digest</key>
								<data>
								kkVMtxDva7yR
								rCCx5xbJJw==
								</data>
								<key>Size</key>
								<integer>208261</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								faFLeaGqn2Gi
								jw+XIpD0IA==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								hEhKQkCD3Ml7
								f/VOOEHQrA==
								</data>
								<key>Size</key>
								<integer>214</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:offroad - file:///Users/tdeborge/Software/Git/https-deployment/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-12-18T17:21:03Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>assets/images/fallback.jpeg</key>
							<dict>
								<key>Digest</key>
								<data>
								kkVMtxDva7yR
								rCCx5xbJJw==
								</data>
								<key>Size</key>
								<integer>208261</integer>
							</dict>
							<key>assets/javascript/background-blur.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ywUv0KUy/tAu
								R6f4S9barA==
								</data>
								<key>Size</key>
								<integer>264</integer>
							</dict>
							<key>assets/javascript/background-no-blur.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ZYh1JHSJytSC
								nx9H0P/3VA==
								</data>
								<key>Size</key>
								<integer>54</integer>
							</dict>
							<key>assets/javascript/html5shiv.js</key>
							<dict>
								<key>Digest</key>
								<data>
								gx2byuJgw9ZJ
								wkqFNyxZyw==
								</data>
								<key>Size</key>
								<integer>2545</integer>
							</dict>
							<key>assets/javascript/min/background-dont-blur-min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								pjaQ/1DIISq1
								rhGjmXmCcw==
								</data>
								<key>Size</key>
								<integer>55</integer>
							</dict>
							<key>assets/javascript/respond.js</key>
							<dict>
								<key>Digest</key>
								<data>
								wcgBpR2wOe3C
								txNeJ6QaRw==
								</data>
								<key>Size</key>
								<integer>4203</integer>
							</dict>
							<key>assets/javascript/sidebar-hidden.js</key>
							<dict>
								<key>Digest</key>
								<data>
								R4PmN2Kh3E9G
								GskeMWwJAg==
								</data>
								<key>Size</key>
								<integer>102</integer>
							</dict>
							<key>assets/javascript/sidebar-left.js</key>
							<dict>
								<key>Digest</key>
								<data>
								xLP/iCOzqwr+
								sP22tubEbg==
								</data>
								<key>Size</key>
								<integer>83</integer>
							</dict>
							<key>assets/javascript/sidebar-right.js</key>
							<dict>
								<key>Digest</key>
								<data>
								+XdEpU/RIkZG
								9MyBr6na7w==
								</data>
								<key>Size</key>
								<integer>84</integer>
							</dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								zb4szjtNIM6n
								uJ/QCY566A==
								</data>
								<key>Size</key>
								<integer>538683</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								fMuoEdOyMb0G
								/7NIUU7cvg==
								</data>
								<key>Size</key>
								<integer>91786</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:offroad</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/offroad</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGUlNYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QEQcIExQVHyIp
				LTE1OT1FSExQVSRudWxs0wkKCwwPEldOUy5rZXlzWk5T
				Lm9iamVjdHNWJGNsYXNzog0OgAKAA6IQEYAEgAyAEFhk
				YXRhYmFzZVRub2Rl1QsWFxgZGhscHR5eSWRlbnRpZmll
				ciBNYXBYUGFnZSBNYXBYTm9kZSBNYXBZUmVzb3VyY2Vz
				gAuAB4AKgAmABdIKCyAhoIAG0iMkJSZaJGNsYXNzbmFt
				ZVgkY2xhc3Nlc1xOU011dGFibGVTZXSjJScoVU5TU2V0
				WE5TT2JqZWN00wkKCyorLKCggAjSIyQuL18QE05TTXV0
				YWJsZURpY3Rpb25hcnmjLjAoXE5TRGljdGlvbmFyedMJ
				CgsyMyygoIAI0wkKCzY3LKCggAjSIyQ6O18QElJXUmVz
				b3VyY2VEYXRhYmFzZaI8KF8QElJXUmVzb3VyY2VEYXRh
				YmFzZdQLPj9AQUJDQ1hDaGlsZHJlblZQYXJlbnRfEBJS
				ZXByZXNlbnRlZCBPYmplY3SAD4ANgACAANIKC0ZHoIAO
				0iMkSUpeTlNNdXRhYmxlQXJyYXmjSUsoV05TQXJyYXnS
				IyRNTl8QEFJXU291cmNlTGlzdE5vZGWiTyhfEBBSV1Nv
				dXJjZUxpc3ROb2Rl0iMkMFGiMChfEA9OU0tleWVkQXJj
				aGl2ZXLRVFVUcm9vdIABAAgAEQAaACMALQAyADcASwBR
				AFgAYABrAHIAdQB3AHkAfAB+AIAAggCLAJAAmwCqALMA
				vADGAMgAygDMAM4A0ADVANYA2ADdAOgA8QD+AQIBCAER
				ARgBGQEaARwBIQE3ATsBSAFPAVABUQFTAVoBWwFcAV4B
				YwF4AXsBkAGZAaIBqQG+AcABwgHEAcYBywHMAc4B0wHi
				AeYB7gHzAgYCCQIcAiECJAI2AjkCPgAAAAAAAAIBAAAA
				AAAAAFYAAAAAAAAAAAAAAAAAAAJA
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BannerUsed</key>
					<false/>
					<key>BaseURL</key>
					<string>http://tbosite.ocpapps.selfip.net</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2017 Tim De Borger</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.php</string>
						<string>index.html</string>
						<string>index.htm</string>
					</array>
					<key>EmailAddress</key>
					<string>tdeborge@redhat.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>Theme Default</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PinnedTabIconUsed</key>
					<false/>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va+ACAAAAAAQQMAAA
							AIsOvXi//I+Oy4cszcHN
							9/jkWxDTwUKmT1QCXyKm
							4MKS3AEAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAAIAAAAAQEAAHRk
							ZWJvcmdlCAAAAAEBAABT
							b2Z0d2FyZQMAAAABAQAA
							R2l0ABAAAAABAQAAaHR0
							cHMtZGVwbG95bWVudBQA
							AAABBgAAEAAAACAAAAAw
							AAAAQAAAAEwAAAAIAAAA
							BAMAAKMsBgAAAAAACAAA
							AAQDAABQZQkAAAAAAAgA
							AAAEAwAAKa8OAAAAAAAI
							AAAABAMAAHcVKwAAAAAA
							CAAAAAQDAAAzIGEAAgAA
							ABQAAAABBgAAgAAAAJAA
							AACgAAAAsAAAAMAAAAAI
							AAAAAAQAAEG/6C1OEuCP
							GAAAAAECAAACAAAAAAAA
							AA8AAAAAAAAAAAAAAAAA
							AAAIAAAABAMAAAMAAAAA
							AAAABAAAAAMDAAD1AQAA
							CAAAAAEJAABmaWxlOi8v
							LwwAAAABAQAATWFjaW50
							b3NoIEhECAAAAAQDAAAA
							cKJHdAAAAAgAAAAABAAA
							QbxHW80AAAAkAAAAAQEA
							AEZCNzgzMTU3LUM0ODYt
							M0UzMS1CNTU0LTBFRjhB
							NzQ4MTU1QhgAAAABAgAA
							gQAAAAEAAADvEwAAAQAA
							AAAAAAAAAAAAAQAAAAEB
							AAAvAAAAAAAAAAEFAADM
							AAAA/v///wEAAAAAAAAA
							EAAAAAQQAABkAAAAAAAA
							AAUQAADQAAAAAAAAABAQ
							AAD8AAAAAAAAAEAQAADs
							AAAAAAAAAAIgAADIAQAA
							AAAAAAUgAAA4AQAAAAAA
							ABAgAABIAQAAAAAAABEg
							AAB8AQAAAAAAABIgAABc
							AQAAAAAAABMgAABsAQAA
							AAAAACAgAACoAQAAAAAA
							ADAgAADUAQAAAAAAAAHA
							AAAcAQAAAAAAABHAAAAg
							AAAAAAAAABLAAAAsAQAA
							AAAAABDQAAAEAAAAAAAA
							AA==
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Untitled Destination</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string>http://tbodemo.ocpapp.selfip.net/</string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Offroad</string>
					<key>TitleText</key>
					<string>My Website</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>4F6B3D74-E055-40C6-B65C-5807CF32324E_rwbackup</string>
					<key>UserAgentResizingPreset</key>
					<integer>0</integer>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>cacheBustingString</key>
					<string>?rwcache=535310463</string>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
